/.metadata/
.vscode
**/target/
*.iml
.idea
/out/
*.json
*.class
.DS_Store
frontend/node_modules/
frontend/dist/
frontend/release/
frontend/backend/*.jar
!frontend/package.json
!frontend/package-lock.json
